<nb-card status="info">
  <nb-card-header>
    <div class="row">
      <div class="col-4">
        {{ totalChanNumber }} &nbsp; Channels
      </div>
      <div class="col-4">
        <input nbInput fullWidth placeholder="Search..." fieldSize="small"
               (input)="searchChannel($event.target.value)">
      </div>
      <div class="col-2">
        <button nbButton size="small" status="success"
                (click)="onClickSave()">
          <nb-icon icon="save-outline"></nb-icon>
          Save
        </button>
      </div>
      <div class="col-2">
        <button nbButton size="small"
                (click)="fileInput.click()">
          <nb-icon icon="file-add-outline"></nb-icon>
          Upload
          <input hidden #fileInput (change)="onFileSelected($event.target.files)" type="file">
        </button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)"
                     (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
