<nb-card status="primary">
  <nb-card-header>
      Mainflux IoT platform &nbsp; {{ version }}
  </nb-card-header>
</nb-card>

<div class="row">
  <div class="col-xxl-4">
    <nb-card status="info">
      <nb-card-header>
        {{ thingsNumber }} &nbsp; Things
      </nb-card-header>
    </nb-card>

    <nb-card status="info">
      <nb-card-header>
        {{ totalChanNumber }} &nbsp; Channels
      </nb-card-header>
    </nb-card>

    <nb-card status="success">
      <nb-card-header>
        {{ gatewaysNumber }} &nbsp; Gateways
      </nb-card-header>
    </nb-card>

    <nb-card status="success">
      <nb-card-header>
        {{ loraDevNumber }} &nbsp; LoRa Devices
      </nb-card-header>
    </nb-card>
  </div>

  <div class="col-xxl-8">
    <nb-card size="medium">
      <nb-card-body style="text-align: center;">
        <img src="assets/images/clover.png">
      </nb-card-body>
    </nb-card>
  </div>
</div>
